<figure class="card mx-auto d-block">
  <img [src]="wine.imageUrl" [alt]="wine.title" class="mx-auto d-block" />
  <figcaption class="card-body">
    <strong
      ><p class="card-text">{{ wine.title }}</p></strong
    >
    <h3 class="card-text">{{ wine.price }}</h3>
  </figcaption>
  <button
    *ngIf="!isInCart"
    class="btn btn-dark mx-auto d-block mb-2"
    (click)="addToCart()"
  >
    Add to cart
  </button>
  <button
    *ngIf="isInCart"
    class="btn btn-warning mx-auto d-block mb-2"
    (click)="removeFromCart()"
  >
    Remove from cart
  </button>
</figure>
