<div class="container">
  <h2 *ngIf="displayCartItems().length === 0" class="text-center mt-5">
    <strong>Cart is empty !</strong>
  </h2>
  <div *ngIf="displayCartItems().length > 0">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Wine Name</th>
          <th>Wine Description</th>
          <th>Wine Price</th>
        </tr>
      </thead>
      <tr *ngFor="let item of displayCartItems()">
        <td>
          <img
            [src]="item.imageUrl"
            [alt]="item.title"
            style="width: 50px; height: 75px"
          />
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </table>
    <br />
    <button class="btn btn-danger" (click)="emptyCartItems()">
      Empty cart <i class="fa-solid fa-trash-can"></i>
    </button>
  </div>
</div>
