<form [formGroup]="registrationForm" class="row g-3 w-50" novalidate>
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name(s)</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      formControlName="firstName"
    />
  </div>
  <div
    *ngIf="!firstName?.valid && (firstName?.dirty || firstName?.touched)"
    class="error"
  >
    <i class="fa-solid fa-circle-info"></i> First Name is required
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      formControlName="lastName"
    />
  </div>
  <div
    *ngIf="!lastName?.valid && (lastName?.dirty || lastName?.touched)"
    class="error"
  >
    <i class="fa-solid fa-circle-info"></i> last Name is required
  </div>
  <div class="mb-3">
    <label for="emailAddress" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="emailAddress"
      name="emailAddress"
      placeholder="name@gmail.com"
      formControlName="emailAddress"
    />
  </div>
  <div
    *ngIf="
      !emailAddress?.valid && (emailAddress?.dirty || emailAddress?.touched)
    "
    class="error"
  >
    <i class="fa-solid fa-circle-info"></i> A valid email address is required
  </div>
  <div class="mb-3">
    <label for="sphysicalAddress" class="form-label">Physical Address</label>
    <textarea
      class="form-control"
      id="physicalAddress"
      name="physicalAddress"
      rows="3"
      placeholder="z1870 uJantshi Close
Umlazi z section 
4066"
      formControlName="physicalAddress"
    ></textarea>
  </div>
  <div
    *ngIf="
      !physicalAddress?.valid &&
      (physicalAddress?.dirty || physicalAddress?.touched)
    "
    class="error"
  >
    <i class="fa-solid fa-circle-info"></i> A valid physical address is required
  </div>
  <div class="col-md-6">
    <label for="suburb" class="form-label">Suburb/Town</label>
    <input
      type="text"
      class="form-control"
      id="city"
      name="suburb"
      formControlName="suburb"
    />
  </div>
  <div class="col-md-4">
    <label for="province" class="form-label">Province</label>
    <select
      id="province"
      name="province"
      class="form-select"
      formControlName="province"
    >
      <option selected>Choose...</option>
      <option>KwaZulu-Natal</option>
      <option>Eastern-Cape</option>
      <option>Western-Cape</option>
      <option>Northern-Cape</option>
      <option>Free-State</option>
      <option>North-West</option>
      <option>Limpopo</option>
      <option>Gauteng</option>
      <option>Mpumalanga</option>
    </select>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="masculine"
          value="male"
          formControlName="sex"
        />
        <label class="form-check-label" for="masculine"> Male</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="feminine"
          value="female"
          formControlName="sex"
        />
        <label class="form-check-label" for="feminine"> Female </label>
      </div>
      <div class="form-check disabled">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="Self-Identify"
          value="non-binary"
          formControlName="sex"
        />
        <label class="form-check-label" for="Self-Identify"> Non-Binary </label>
      </div>
    </div>
  </fieldset>
  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkMark"
        formControlName="checkMark"
      />
      <label class="form-check-label" for="checkMark"> Remember me </label>
    </div>
  </div>
  <div class="col-12">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registrationForm.valid"
    >
      Register
    </button>
  </div>
</form>
