<form [formGroup]="registrationForm" class="row g-3 w-50" novalidate>
  <div class="col-md-6">
    <label for="Name" class="form-label">First Name(s)</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="firstName"
    />
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastname"
      formControlName="lastName"
    />
  </div>
  <div class="mb-3">
    <label for="emailaddress" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="emailaddress"
      placeholder="name@example.com"
      formControlName="emailAddress"
    />
  </div>
  <div class="mb-3">
    <label for="Address" class="form-label">Physical Address</label>
    <textarea
      class="form-control"
      id="Address"
      rows="3"
      placeholder="z1870 uJantshi Close
Umlazi z section 
4066"
      formControlName="physicalAddress"
    ></textarea>
  </div>
  <div class="col-md-6">
    <label for="city" class="form-label">Suburb/Town</label>
    <input
      type="text"
      class="form-control"
      id="city"
      formControlName="suburb"
    />
  </div>
  <div class="col-md-4">
    <label for="Province" class="form-label">Province</label>
    <select id="Province" class="form-select" formControlName="province">
      <option selected>Choose...</option>
      <option>KwaZulu-Natal</option>
      <option>Eastern-Cape</option>
      <option>Western-Cape</option>
      <option>Northern-Cape</option>
      <option>Free-State</option>
      <option>North-West</option>
      <option>Limpopo</option>
      <option>Gauteng</option>
      <option>Mpumalanga</option>
    </select>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="masculine"
          value="male"
          formControlName="sex"
        />
        <label class="form-check-label" for="masculine"> Male</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="feminine"
          value="female"
          formControlName="sex"
        />
        <label class="form-check-label" for="feminine"> Female </label>
      </div>
      <div class="form-check disabled">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="Self-Identify"
          value="non-binary"
          formControlName="sex"
        />
        <label class="form-check-label" for="Self-Identify"> Non-Binary </label>
      </div>
    </div>
  </fieldset>
  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="Checkmark"
        formControlName="checkMark"
      />
      <label class="form-check-label" for="Checkmark"> Remember me </label>
    </div>
  </div>
  <div class="col-12">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registrationForm.valid"
    >
      Register
    </button>
  </div>
</form>
